* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #bf2214;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #bf2214;
}

.hidden {
    display: none;
}
